@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$vert: #8e967e;
$taupe: #b5b1ae;
$beige: #ebdfcf;


@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}

@mixin title {
    @include roboto-bold();
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
}

@mixin sub-title {
    @include roboto-bold();
    font-size: 25px;
    text-align: center;
    padding: 20px 0
}

@mixin sub-title2 {
    @include roboto-bold();
    font-size: 20px;
    padding: 20px 0 10px;
}

a {
    text-decoration: none;
    color: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    @include roboto-regular();
}